/* border box */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* defining variables */
:root {
    --ink: black;
    --bg: rgb(252, 240, 218);
    --primary: rgb(174, 172, 120);
    --secondary: rgb(242, 196, 106);
    --dark: rgb(76, 69, 65);
}

/* applying variables */
body {
    color: var(--ink);
    background-color: var(--bg);
}

/* buttons */

.nav-button {
    background-color: var(--dark);
    padding: 0.5rem;
    color: var(--secondary);
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
}

.nav-button:hover {
    filter: brightness(1.2);
}

button {
    background-color: var(--dark);
    padding: 0.75rem;
    color: var(--secondary);
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: var(--primary);
    color: var(--ink)
}

/* header and navbar */
header {
    background-color: var(--bg);
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid var(--primary);
    padding: 3px;
    z-index: 10;
    align-items: center;
}

header h3 {
    margin: 0;
}

.navbar {
    padding: 0.5rem;
}

header>div {
    font-weight: bold;
}

/* <h1> title */
.title-group {
    margin-bottom: 5px
}

.title-group h1 {
    margin: 5px;
}

.title>span,
.logo>span {
    color: var(--primary);
}

.subtitle {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    color: var(--dark);
}

/* product sections and cards */
.section-staff,
.section-fiction,
.section-nonfiction {
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--primary);
    border-radius: 10px;
}

.section-name {
    margin-bottom: 1rem;
    margin-top: 0;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
}

.product-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
    border-radius: 5%;
    border: solid 3px var(--secondary)
}

.product-card img {
    border-radius: 2%;
    max-width: 100%;
    height: 300px;
    object-fit: contain;
    display: block;
}

.product-card p {
    margin: 4px
}

.card-title {
    font-weight: bold;
}

.card-author {
    font-style: italic;
}

/* events */

.events {
    margin-block: 5px;
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 0.5rem;
}

.events h2 {
    margin: 0;
}

.bookclubs-title {
    font-style: italic;
}

.events-grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: 2fr 2fr;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

footer h3 {
    margin: 0;
}